@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-gutter: auto;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
